body{
    background-color: #2c3e50;
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
#container{
    color:#d7dfe4;
}
.digit{
    font-size: 150px;
    font-weight: bold;
}
.txt{
    font-size: 40px;
}
#btn-container{
    text-align: center;
    margin: 40px;
}
.btn{
    padding: 7px 25px;
    font-size: 15px;
    margin: 0px 10px;
    color:white;
    border: 0px;
    cursor: pointer;
}
#Start{
    background-color:#1abc22;
}
#Stop{
    background-color: #34b1db;
}
#Reset{
    background-color: #e73c3c;
}
